<p><%= @team.name %></p>

<a href="/teams/<%= @team.id %>/join">Join Team</a>
<br><br>
<a href="/teams/<%= @team.id %>/roster">Team Roster</a>
<br>

<% if authorized_to_edit?(@team) %>

<a href="/teams/<%= @team.id %>/edit">Edit Team</a>
<br><br><br>

<form class="" action="/teams/<%= @team.id %>" method="post">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" name="" value="Delete Team">
</form>
<% end %>