<h2> <%= @user.name %>'s Info</h2>
<h3>Email: </h3>
<%= @user.email %>
<h3>Position: </h3>
<%= @user.position %>
<h3>Alternate Position: </h3>
<%= @user.alt_position %>
<h3>Skill Level: </h3>
<%= @user.skill_level %>
<h3>Coaching Skill Level: </h3>
<%= @user.coaching_skill_level %>